# General
.DS_Store
Thumbs.db
.env
.env.*

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
Backend/venv/

# Database
*.sqlite3
db.sqlite3
Backend/db.sqlite3

# Django
*.log
local_settings.py
staticfiles/
media/

# Node / Frontend
node_modules/
Frontend/node_modules/
.npm/
.next/
Frontend/.next/
dist/
Frontend/dist/
coverage/
.yarn/
.pnp.*
frontend-build/

# IDE settings
.vscode/
.idea/
*.swp